html {
  background-color: antiquewhite;
}

body {
  margin: 20px;
}
.navbar {
color: aqua;
}
/* .container {
  padding: 50px;
  align-items: center;
  text-align: center;
} */

#section2 {
  background-color: antiquewhite;
}